#headerFacultad{
    margin-top: 0px;
    margin-left: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
#box1{
    padding-top: 15px;
    margin-right: 20px;
}
#box2{
    padding-top: 15px;
}
#headerPublicaciones{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
#divPublicaciones{
    display: flex;
    padding: auto;
}
#divsPublicaciones2{
    width: 600px;
    text-align:justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
  }
#boxCerrar{
    margin-left: auto;
    margin-right: 100px;
    padding: auto;
}
#division2{
    margin-top: 20px;
    height: 2px;
}
#botonEliminar{
    margin: 0 auto;
}
#listaEliminar{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}
#divLista2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-color: aliceblue;
    width: 600px;
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}
#btnDescargar{
    margin-left: 480px;
    background-color: black;
}
#divBotonesRecetas{
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}
#leyendaPublicacion{
    margin-right: auto;
    margin-left: 50px;
}