.historial-paciente {
    margin: 20px;
  }
  
  .patient-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .patient-list th,
  .patient-list td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .patient-list th {
    text-align: left;
    background-color: #f0f0f0;
  }
  
  .patient-list button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .patient-details {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .patient-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .patient-details p {
    margin-bottom: 0;
  }
  
  .patient-details ul {
    list-style: none;
    padding: 0;
  }
  
  .patient-details li {
    margin-bottom: 10px;
  }
  .btnsalir {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }